.logo {
  text-align: center;
}

.tagline {
  padding-top: 1em;
  color: #602F8D;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}

/* footer styling for all resolutions */
.siteinfo {
  padding: 3em 0;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.8em;
}

/* Chapter 2 challenge/solution: styling thumbnails and modals */
.btn-primary {
  background-color: #602F8D;
  border-color: #602F8D; 
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #53297A;
}

.modal-body .pull-left {
  padding-right: 1em;
}

.modal-body .pull-right {
  padding-left: 1em;
}

.modal-footer {
  clear: both;
}

/* panel styling for the home page */
.panel-primary .panel-heading {
  background-color: #602F8D;
  border-color: #602F8D;
}

.panel {
  border-color: #602F8D;
}

/* form styles */
.form-group button {
  margin-top: 10px;
}

form .col-sm-2,
form .col-sm-10 {
  margin: 0;
  padding: 10px 0;
}

.copyright a {
  text-decoration: none;
  color: #999;
}

/* Small devices (tablets, 768px and up) 

Greater than 768 px, push logo left and tagline right. Alter 
tagline font size, alignment, and padding for larger dimensions.

*/
@media (min-width: 768px) {
  .logo {
    text-align: left;
  }

  .tagline {
    padding-top: 1.6em;
    font-size: 2em;
    text-align: right;
  }

  form {
    margin: 0 auto;
    width: 750px;
  }
}